<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/logo.png" type="image/x-icon">
    <title> Patients | Gestion de traitement des patients</title>

    <!-- lien fontawesome -->
    <link rel="stylesheet" href="css/fontawesome/css/all.min.css">

    <!-- lien fichier css -->
    <link rel="stylesheet" href="css/style.css">
   
    <!-- lien boxicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    
    <!-- lien bootstrap -->
    <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">

</head>


<body id="body-pd">

    <header class="header" id="header">
        <div class="header_toggle"> 
            <i class='bx bx-menu' id="header-toggle"></i> 
        </div>
        
        <div class="d-flex ">         
            <span class="mr-2 d-flex d-lg-inline text-gray-600 small align-self-center" style="margin-right: 10px; color: grey;">Jane Doe</span>
             <img src="images/janedoe.jpg"  class="header_img"> 
        </div>
    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div> 
                <a class="sidebar-brand d-flex align-items-center justify-content-center conteneur-img-dash nav_link" style="left: 40px;" href="tableau_de_bord.html">
                    <div class="sidebar-brand-icon">
                        <img class="image-dashboard img-fluid" src="images/logo.png" alt="Logo du centre de santé">
                    </div>
                </a>

                <hr class="sidebar-divider">

                <div class="nav_list"> 
                    <a href="tableau_de_bord.html" class="nav_link active"> 
                        <i class='fas fa-fw fa-home nav_icon'></i> 
                        <span class="nav_name">Accueil</span> 
                    </a> 
                    <a href="agenda.html" class="nav_link"> 
                        <i class='fas fa-fw fa-calendar-day nav_icon'></i> 
                        <span class="nav_name">Agenda</span> 
                    </a> 
                    <a href="patient.html" class="nav_link"> 
                        <i class='fas fa-fw fa-user nav_icon'></i> 
                        <span class="nav_name">Patients</span> 
                    </a> 
                    <a href="#" class="nav_link"> 
                        <i class='fas fa-fw fa-book-medical nav_icon'></i> 
                        <span class="nav_name">Consultations</span> 
                    </a> 
                    <a href="statistique.html" class="nav_link"> 
                        <i class='fas fa-fw fa-chart-pie nav_icon'></i> 
                        <span class="nav_name">Statistiques</span> 
                    </a> 
                
                </div>
            </div> <a href="connexion.html" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">Déconnexion</span> </a>
        
        
            <!-- footer-->
            
            <footer class="sticky-footer">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto" style="font-size: small; color: rgba(0, 0, 0, 0.932);">
                        <span>Copyright &copy; 2022 Medical Team, tous droits réservés.</span>
                    </div>
                </div>
            </footer>
        
        </nav>
    </div>
    
    <!-- partie principale-->

    <div id="contenu-partie-droite" class="d-flex flex-column">
        <div class="height-100 contenu-principal row align-items-start">
            <div id="contenu" style="margin-top: 50px; padding-top: 20px;">

                <div class="container-fluid">

                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        
                        <div>
                            <h1 class="h3 mb-0 text-gray-800">
                                <i class="fas fa-fw fa-user"></i>
                                <span>Patients</span>
                            </h1>
                        </div>

                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                            <li class="breadcrumb-item"><i class="fas fa-fw fa-home nav_icon"></i><a href="tableau_de_bord.html">Accueil</a></li>
                            <li class="breadcrumb-item"><i class="fas fa-fw fa-user nav_icon"></i><a href="patient.html">Patients</a></li>
                            </ol>
                        </nav>
                    </div>

                    ;vclkkl;gg<div>
		
                        <div date-picker
                             datepicker-title="Select Date"
                             picktime="true"
                             pickdate="true"
                             pickpast="false"
                             mondayfirst="false"
                             custom-message="You have selected"
                             selecteddate="ctrl.selected_date"
                             updatefn="ctrl.updateDate(newdate)">
                        
                            <div class="datepicker"
                                 ng-class="{
                                    'am': timeframe == 'am',
                                    'pm': timeframe == 'pm',
                                    'compact': compact
                                }">
                                <div class="datepicker-header">
                                    <div class="datepicker-title" ng-if="datepicker_title">{{ datepickerTitle }}</div>
                                    <div class="datepicker-subheader">{{ customMessage }} {{ selectedDay }} {{ monthNames[localdate.getMonth()] }} {{ localdate.getDate() }}, {{ localdate.getFullYear() }}</div>
                                </div>
                                <div class="datepicker-calendar">
                                    <div class="calendar-header">
                                        <div class="goback" ng-click="moveBack()" ng-if="pickdate">
                                            <svg width="30" height="30">
                                                <path fill="none" stroke="#0DAD83" stroke-width="3" d="M19,6 l-9,9 l9,9"/>
                                            </svg>
                                        </div>
                                        <div class="current-month-container">{{ currentViewDate.getFullYear() }} {{ currentMonthName() }}</div>
                                        <div class="goforward" ng-click="moveForward()" ng-if="pickdate">
                                            <svg width="30" height="30">
                                                <path fill="none" stroke="#0DAD83" stroke-width="3" d="M11,6 l9,9 l-9,9" />
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="calendar-day-header">
                                        <span ng-repeat="day in days" class="day-label">{{ day.short }}</span>
                                    </div>
                                    <div class="calendar-grid" ng-class="{false: 'no-hover'}[pickdate]">
                                        <div
                                            ng-class="{'no-hover': !day.showday}"
                                            ng-repeat="day in month"
                                            class="datecontainer"
                                            ng-style="{'margin-left': calcOffset(day, $index)}"
                                            track by $index>
                                            <div class="datenumber" ng-class="{'day-selected': day.selected }" ng-click="selectDate(day)">
                                                {{ day.daydate }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="timepicker" ng-if="picktime == 'true'">
                                    <div ng-class="{'am': timeframe == 'am', 'pm': timeframe == 'pm' }">
                                        <div class="timepicker-container-outer" selectedtime="time" timetravel>
                                            <div class="timepicker-container-inner">
                                                <div class="timeline-container" ng-mousedown="timeSelectStart($event)" sm-touchstart="timeSelectStart($event)">
                                                    <div class="current-time">
                                                        <div class="actual-time">{{ time }}</div>
                                                    </div>
                                                    <div class="timeline">
                                                    </div>
                                                    <div class="hours-container">
                                                        <div class="hour-mark" ng-repeat="hour in getHours() track by $index"></div>
                                                    </div>
                                                </div>
                                                <div class="display-time">
                                                    <div class="decrement-time" ng-click="adjustTime('decrease')">
                                                        <svg width="24" height="24">
                                                            <path stroke="white" stroke-width="2" d="M8,12 h8"/>
                                                        </svg>
                                                    </div>
                                                    <div class="time" ng-class="{'time-active': edittime.active}">
                                                        <input type="text" class="time-input" ng-model="edittime.input" ng-keydown="changeInputTime($event)" ng-focus="edittime.active = true; edittime.digits = [];" ng-blur="edittime.active = false"/>
                                                        <div class="formatted-time">{{ edittime.formatted }}</div>
                                                    </div>
                                                    <div class="increment-time" ng-click="adjustTime('increase')">
                                                        <svg width="24" height="24">
                                                            <path stroke="white" stroke-width="2" d="M12,7 v10 M7,12 h10"/>
                                                        </svg>
                                                    </div>
                                                </div>
                                                <div class="am-pm-container">
                                                    <div class="am-pm-button" ng-click="changetime('am');">am</div>
                                                    <div class="am-pm-button" ng-click="changetime('pm');">pm</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="buttons-container">
                                    <div class="cancel-button">CANCEL</div>
                                    <div class="save-button">SAVE</div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>    
            
            </div>
        </div>


    </div>


    <!--Scripts -->

    <script src="css/sidebar.js"></script>
    
    <script src="css/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>